.container-fluid {
    background: url("../img/background.png");
    background-repeat: repeat;
}

#content {
    background: white;
}

#title {
    color: black;
    font-family: 'Rock Salt', cursive;
    padding: 50px 50px 37.5px 50px;
    word-spacing: 25px;
}

#main ul {
    margin: 0;
    padding: 0;
}

li {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 250px;
}

li a {
    color: black;
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    padding: 5px 0 0 0;
    text-decoration: none;
}

a:hover {
    background: black;
    color: white;
}

.fa-linkedin, .fa-square-github {
    padding-right: 5px;
    color: var(--fa-inverse)
}

#footer {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    padding: 37.5px 50px 25px 50px;
}