#card {
    background: white;
}

#fLower {
    font-weight: 500;
}

#fUpper {
    font-weight: 700;
}

#footer {
    font-size: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
}

#title {
    color: black;
    font-size: 3rem;
    margin-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    word-spacing: 1.5rem;
}

#buttons, ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

html {
    font-size: 16px
}

body {
    padding: 0;
    margin: 0;
}

li a {
    /* li */
    border: 0.063rem solid black;
    width: 10rem;
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    /* a */
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    background: black;
    color: white;
}

.container-fluid {
    background: url("../img/background.png");
    background-repeat: repeat;
}

.fa-linkedin, .fa-square-github {
    padding-right: 0.313rem;
    color: var(--fa-inverse)
}